/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 21, 2017, 4:24:08 PM
    Author     : David JP<david.gnext@gmail.com>
*/
* {
    margin:0;
    padding:0;
}
/*header*/
.header.w3-bar .w3-button{
    padding: 2rem;
}
.w3-bar .w3-bar-item.w3-bar-logo {
    background-image: url(../img/logo.png);
    background-size: 100% 100%;
    width: 200px;
    height: 100px;
}
.setting {
    float: right;
}
.main-content {

}
.main-content .w3-row {
    margin: 1.5rem 0 0 0 ;
}
.main-content .w3-row div {
    margin:0 3rem;
}
@media (max-width:700px) {
    .w3-bar .w3-bar-item.w3-bar-logo {
        width: 50%;
        height: 80px;
    }
    .w3-rest.setting {
        width: 100%;
        padding: 0 0 0 35%;
        background:#5F51B5;
    }
    .main-content .w3-row {
        margin: 0;
    }
    .main-content .w3-row div {
        margin:0;
    }
}