/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jul 21, 2017, 4:24:08 PM
    Author     : David JP<david.gnext@gmail.com>
*/
* {
    margin:0;
    padding:0;
    font-family: "Zawgyi-one",sans-serif;
}
h1, h2, h3, h4, h5, h6 {
   font-family: "Zawgyi-one",sans-serif;
}
/*header*/
.header.w3-bar .w3-button{
    padding: 2rem;
}
.w3-bar .w3-bar-item.w3-bar-logo {
    background-image: url(../img/logo.png);
    background-size: 100% 100%;
    width: 200px;
    height: 100px;
}
.setting {
    float: right;
}
.main-content .w3-row {
   margin: 1.5rem 0 0 0 ;
}
.main-content .w3-container p {
    white-space: pre-wrap;
    word-wrap: break-word;
}
.main-content .w3-row .w3-middle{
    float:none;
    margin:0 auto;
}
.w3-content-tutorial {
    overflow:auto;
    width: 100%;
    max-height: 70vh;
}
.main-content .w3-row div {
    margin:0 3rem;
}
.main-content .w3-row .ques-ans {
    margin:3rem;
}
.ques-ans [type='radio'] {
    background-color: #3f51b5;
    border-radius: 25px;
    content: '';
    display: inline-block;
    float: left;
    height:27px;
    padding: 1.5rem;
    left:40%;
    position: relative;
    width: 27px;
}
.ques-ans span {
    position: relative;
    float: left;
    left:45%;
}
.ques-ans i {
    margin-left: 3rem;
    padding: 5px;
}
.ques-ans div {
    padding: 1rem;
}
.sub-learn-btn {
    margin-top: 2rem;
}
.input-error {
    border: 1px solid red !important;
}
.info-flash {
    box-shadow : 0px 0px 3px 12px midnightblue;
}
.read-content {
    max-height: calc(100vh - 180px);
    overflow: auto;
}
.read-section h3 {
    margin : 0;
}
.w3-row .w3-code {
    display: block;
    white-space: pre-wrap;
    border-left:none;
    background-color: #eee;
}
.w3-border-purple {
    border-left:4px solid purple;
}
.helper-word {
    color:#3f51b5;
    font-weight: bold;
}
.loader {
    border: 16px solid lightgray; /* Light grey */
    border-top: 16px solid #3f51b5; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@media (max-width:700px) {
    .w3-bar .w3-bar-item.w3-bar-logo {
        width: 50%;
        height: 80px;
    }
    .w3-rest.setting {
        width: 100%;
        padding: 0 0 0 35%;
        background:#5F51B5;
    }
    .main-content .w3-row {
        margin: 0;
    }
    .main-content .w3-row div {
        margin:0;
    }
}
