/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 24, 2017, 11:36:16 AM
    Author     : David JP<david.gnext@gmail.com>
*/

.login {
    margin: 5rem 25%;
}
.login-btn {
    margin:1rem 0;
}
.alert-msg h3 {
    text-align: center;
    font-size: 1rem;
}
@media (max-width:500px) {
    .login {
         margin: 5rem auto;
    }
}