/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 24, 2017, 11:36:16 AM
    Author     : David JP<david.gnext@gmail.com>
*/

.login {
    width:50%;
    margin: 5rem auto;
}
.login-btn {
    margin:1rem 0;
}